/*styles for my resume*/
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}
#container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 50px;
}
/*my name banner*/
#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}
.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
/*umd title*/
#title {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #33485e;
  margin-top: 20px;
}
.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
/*section headers*/
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%;
  min-width: 300px;
}
/*job*/
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}
/*organization*/
.organization {
  font-weight: 400;
  font-size: 1.25em;
}
/*dates*/
.date {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  margin-top: 2px;
}
#degrees {
  margin-top: 5px;
}
#do {
  margin-top: 5px;
}
/*list*/
ul{
  font-size: 1em;
}
